<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Change Password with OTP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="changePasswordCtrl">

    <h1>Change Password with OTP</h1>

    <form ng-submit="changePassword()">
        <label for="userID">User ID:</label>
        <input type="text" id="userID" ng-model="user.UserID" required><br>
        
        <label for="otp">OTP:</label>
        <input type="text" id="otp" ng-model="user.Name" required><br>
        
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" ng-model="user.Password" required><br>
        
        <button type="submit">Change Password</button>
    </form>
    
    <div ng-if="message">
        {{ message }}
    </div>

    <script>
        var app = angular.module('myApp', []);
        
        app.controller('changePasswordCtrl', function($scope, $http) {
            $scope.user = {
                UserID: '',
                Name: '',
                Password: ''
            };
            
            $scope.changePassword = function() {
                $http.post('https://localhost:44352/api/home/changepassword', $scope.user)
                    .then(function(response) {
                        $scope.message = response.data.Msg;
                    })
                    .catch(function(error) {
                        $scope.message = 'Error: ' + error.data.Msg;
                    });
            };
        });
    </script>
</body>
</html>