<html>
	<head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
        <link rel="stylesheet" href="../fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
	    <link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/homestyle.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- ... Your HTML code ... -->
<!-- ... Your HTML code ... -->

<script>

    var app = angular.module("my-app", []);

app.controller("login-ctrl", function ($scope, $http, $window, $location) {
    $scope.login = function () {
        var obj = {
            Username: $scope.UserName,
            Password: $scope.Password
        };
        $http.post("https://localhost:44352/api/login", obj).then(function (resp) {
            var token = resp.data.TokenKey;
            var username = $scope.UserName;
            var userId = resp.data.UserId; // Assuming you have the userId in the login response
            $window.localStorage.setItem("authToken", token);
            // Redirect to Userhomepagedamo with token, username, and userId as query parameters
            $window.location.href = "../User/Userhome/Userhomepagedamo.html?token=" + token + "&username=" + username + "&userId=" + userId;
        }, function (err) {
            $scope.msg = err.data.Msg;
            $scope.color = "red";
        });
    };
});

angular.module("myApp", []).controller("postController", function($scope, $http, $window) {
    // After login success
    $http.post("https://localhost:44352/api/login", obj).then(function (resp) {
        var token = resp.data.TokenKey;
        // Store the token in localStorage
        $window.localStorage.setItem("authToken", token);
        // ... other code
    });
});



</script>

<!-- ... Rest of your HTML code ... -->


<!-- ... Rest of your HTML code ... -->

	</head>
	<body ng-app="my-app">
		
		<div class="header">
  <a href="../Index.html" class="logo">AIUB Ideas Gateway</a>
  <div class="header-right">
    <a href="../Index.html">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
	<a class="active" href="#Login">Login</a>
  </div>
</div>
 <div class="main">
        <!-- Login form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="Signuppage.html" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form" ng-controller="login-ctrl">
                        <h2 class="form-title">Log In</h2>
                        <form  class="register-form" ng-submit="login()">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" ng-model="UserName" name="your_name" id="your_name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" ng-model="Password"  name="your_pass" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
						
						<span style="color:{{color}}">{{msg}}</span>
						<a href="Forgotpage.html" class="signup-image-link">Forgot password</a>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

	</body>
</html>